
 main .heading{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgb(221, 196, 245) ;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hobby{
    max-width: 90%;
    height: 40%;
    background: rgba(red, green, blue, 0);
    border: 2px solid #ffffff5c;
    border-radius: 2rem;
    box-shadow: 2px 2px 1.2rem #202020;
    border-radius: 20px;
    margin: 2rem;
    padding: 1rem;
}
.hobby > p, h4{
    font-size: x-large;
    color: rgb(242, 255, 195);
}
h4{
    font-size: large;
}
.img-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-container > img {
    aspect-ratio: 3/3;
    width: 40%;
    object-fit: contain;
    border-radius: 1px solid grey;
    transition: .3s all ease-in;
}
.img-container > img:hover
{
    transform: scale(1.2);
}
.audio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.audio-link{
    border: 1px solid rgb(144, 199, 255);
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 65%;
    text-decoration: underline;
    transition: .1s all ease-in;
}
.audio-link:hover{
   background-color: rgb(122, 71, 169);
}


@media screen and (max-width: 500px)
{   
    main .heading
    {
        font-size: 1.9rem;
    }
    .hobby >p, h4{
        font-size: 1rem;
    }
    .hobby{
        font-size: small;
        margin: 2rem 0.5rem;
    }
    .audio-link
    {   font-size: 1rem;
        width: 95%;
    }
}